In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('student_exam_scores.csv')
data.head()

,student_id,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
0,S001,8.0,8.8,72.1,45,30.2
1,S002,1.3,8.6,60.7,55,25.0
2,S003,4.0,8.2,73.7,86,35.8
3,S004,3.5,4.8,95.1,66,34.0
4,S005,9.1,6.4,89.8,71,40.3

In [12]:
print(data.student_id.isnull().sum())
print(data.hours_studied.isnull().sum())
print(data.sleep_hours.isnull().sum())
print(data.attendance_percent.isnull().sum())
print(data.previous_scores.isnull().sum())
print(data.exam_score.isnull().sum())

print(len(data))

0
0
0
0
0
0
200

In [13]:
print(data.student_id.dtype)
print(data.hours_studied.dtype)
print(data.sleep_hours.dtype)
print(data.attendance_percent.dtype)
print(data.previous_scores.dtype)
print(data.exam_score.dtype)

object
float64
float64
float64
int64
float64